@model RuTour.Models.Tour
@{
    ViewData["Title"] = "RuTour";
}

<div class="job_details_area" style="margin-top: 70px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="descript_wrap white-bg" style="border-radius: 10px;">
                    <a class="company_link" href="~/Home/Index">
                        <h3 style="font-size: 16px; margin-top: -20px; margin-left: -20px; margin-bottom: 20px">Назад</h3>
                    </a>
                    <h4 style="font-size: 30px; margin-bottom: 20px;">@Model.Title</h4>
                    <a class="company_link" href="~/Home/Company/@Model.Company.Id">
                        <h3 style="font-size: 20px; margin-bottom: 20px">@Model.Company.Name</h3>
                    </a>
                    <hr style="margin-bottom: 40px;" />
                    <p style="font-size: 18px; color: #444;">
                        @Model.Description
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="job_sumary" style="border-radius: 10px;">
                    <div class="summery_header">
                        <h3>Детали тура</h3>
                    </div>
                    <div class="job_content summery_header" style="margin-top: -20px">
                        <ul>
                            <li style="color: #555;">Город: <span>@Model.City.Name</span></li>
                            <li style="color: #555;">Дата: <span>@Model.Date.ToShortDateString()</span></li>
                            <li style="color: #555;">Количество ночей: <span>@Model.NightsCount</span></li>
                            <li style="color: #555;">Транспорт: <span>@Model.TransportString</span></li>
                            <li style="color: #555;">Обратный билет: <span>@Model.ReturnString</span></li>
                            <li style="color: #555;">Место проживания: <span>@(Model.Accommodation?.Name ?? "Нет")</span></li>
                            <li style="color: #555;">Осталось мест: <span>@Model.TicketsLeft</span></li>
                            <li style="color: #555;">Стоимость: <span>@Model.Cost руб.</span></li>
                        </ul>
                    </div>
                    <div class="job_content" style="margin-top: -10px; list-style: none; list-style-type: none;">
                        <a href="~/Account/Buy/@Model.Id" class="boxed-btn3 w-100" style="line-height: 45px; font-size: 22px;">Купить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
