@model RuTour.Models.User
@{
    ViewData["Title"] = "Список туров";
}

<h3>Туры пользователя @Model.Login</h3>
<form method="post">
    <input type="hidden" value="@ViewBag.TourId" name="UserId" />
    <a href="~/Home/Users/">Назад</a>
    <table>
        <tr>
            <td>Title</td>
            <td>Description</td>
            <td>MaxPeopleNumber</td>
            <td>Date</td>
            <td>NightsCount</td>
            <td>Transport</td>
            <td>Return</td>
            <td>Cost</td>
            <td>Company.Name</td>
            <td>City.Name</td>
            <td>Accommodation.Name</td>
        </tr>
        @foreach (var element in Model.Tours)
        {
            <tr style="border: 3px solid black; background-color: #CCC;">
                <td>@element.Title</td>
                <td>@element.Description</td>
                <td>@element.MaxPeopleNumber</td>
                <td>@element.Date</td>
                <td>@element.NightsCount</td>
                <td>@element.Transport</td>
                <td>@element.Return</td>
                <td>@element.Cost</td>
                <td>@element.Company.Name</td>
                <td>@element.City.Name</td>
                <td>@element.Accommodation?.Name</td>
            </tr>
        }
    </table>
</form>
