@model RuTour.Models.Tour
@{
    ViewData["Title"] = "RuTour";
}

<div class="job_details_area" style="margin-top: 70px;">
    <div class="container">
        <div class="row">
            <!-- Основная информация о туре -->
            <div class="col-lg-8">
                <div class="descript_wrap white-bg" style="border-radius: 10px;">
                    <a class="company_link" href="~/Home/Index">
                        <h3 style="font-size: 16px; margin-top: -20px; margin-left: -20px; margin-bottom: 20px">Назад</h3>
                    </a>
                    <h4 style="font-size: 30px; margin-bottom: 20px;">@Model.Title</h4>
                    <a class="company_link" href="~/Home/Company/@Model.Company.Id">
                        <h3 style="font-size: 20px; margin-bottom: 20px">@Model.Company.Name</h3>
                    </a>
                    <hr style="margin-bottom: 40px;" />
                    <p style="font-size: 18px; color: #444;">
                        @Model.Description
                    </p>
                </div>
            </div>

            <!-- Детали тура -->
            <div class="col-lg-4">
                <div class="job_sumary" style="border-radius: 10px;">
                    <div class="summery_header">
                        <h3>Детали тура</h3>
                    </div>
                    <div class="job_content" style="margin-top: -20px">
                        <ul>
                            <li style="color: #555">Город: <span>@Model.City.Name</span></li>
                            <li style="color: #555">Дата: <span>@Model.Date.ToShortDateString()</span></li>
                            <li style="color: #555">Количество ночей: <span>@Model.NightsCount</span></li>
                            <li style="color: #555">Транспорт: <span>@Model.TransportString</span></li>
                            <li style="color: #555">Обратный билет: <span>@Model.ReturnString</span></li>
                            <li style="color: #555">Место проживания: <span>@(Model.Accommodation?.Name ?? "Нет")</span></li>
                            <li style="color: #555">Осталось мест: <span>@Model.TicketsLeft</span></li>
                            <li style="color: #555">Стоимость одного билета: <span id="ticket_cost">@Model.Cost</span> руб.</li>
                        </ul>
                    </div>

                    <!-- Кнопки для заявок -->
                    @if (ViewBag.Role == "user")
                    {
                        @if (ViewBag.Claim == null)
                        {
                            <hr style="margin-top: -10px"/>
                            <div class="job_content" style="margin-top: -10px; list-style: none; list-style-type: none;">
                                <form action="~/Account/ClimeTour" method="post">
                                    <div style="margin: -20px auto 20px">
                                      <input style="display: none" id="ticket_left" value="@Model.TicketsLeft">
                                      <input type="button" value="-" id="button_minus">
                                      <input style="width: 50px" id="num_count" name="count" type="number" min="1" value="1" readonly>
                                      <input type="button" value="+" id="button_plus">
                                    </div>
                                    <h4 style="margin-bottom: 15px; margin-top: -10px; color: #555;">Итог: <span id="total_cost">@Model.Cost</span> руб.</h4>
                                    <input style="display: none" name="id" value="@Model.Id">
                                    <input type="submit" class="boxed-btn3 w-100" style="line-height: 45px; font-size: 22px;" value="Оставить заявку">
                                </form>
                            </div>
                        }
                        else
                        {
                            <hr style="margin-top: -10px"/>
                            <div class="job_content" style="margin-top: -10px; list-style: none; list-style-type: none;">
                                <form action="~/Account/DeleteClime" method="post">
                                    @if (!ViewBag.Claim.Accepted)
                                    {
                                       <h4 style="margin-bottom: 30px; margin-top: -15px; padding: 5px; 
                                        text-align: center; color: #222; background-color: #FFCC66">Заявка на рассмотрении</h4> 
                                    }
                                    else
                                    {
                                        <h4 style="margin-bottom: 30px; margin-top: -15px; padding: 5px; 
                                        text-align: center; color: #222; background-color: #00FF66">Заявка принята</h4>
                                    }
                                    <h4 style="margin-bottom: 15px; margin-top: -10px; color: #555; font-size: 16px">
                                        Количество билетов: <span id="total_cost">@ViewBag.Claim.Count</span></h4>
                                    <h4 style="margin-bottom: 15px; margin-top: -10px; color: #555; font-size: 16px">
                                        Итоговая сумма: <span id="total_cost">@ViewBag.Claim.TotalCost</span> руб.</h4>

                                    <input style="display: none" name="tour_id" value="@Model.Id">
                                    <input type="submit" class="boxed-btn2 w-100" style="line-height: 45px; font-size: 22px;" value="Отменить заявку">
                                </form>
                            </div>
                        }
                    }
                    else if (ViewBag.Role == "")
                    {
                        <hr style="margin-top: -10px"/>
                        <div class="job_content" style="margin-top: -10px; list-style: none; list-style-type: none;">
                            <a class="boxed-btn3 w-100" style="line-height: 45px; font-size: 22px;" href="~/Account/Login">Войти</a>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!-- Список пользователей -->
        <div class="container-fluid" style="margin-top: 40px">
            @if ((ViewBag.Role == "company" && ViewBag.CompanyLogin == Model.Company.Email) 
                || ViewBag.Role == "admin")
            {
                <!-- Не подтвержденные -->
                @if (Model.NoAcceptedClaimes != null && Model.NoAcceptedClaimes.Count > 0)
                {
                    <!-- Описание -->
                    <div class="recent_joblist_wrap" style="margin-top: 30px;">
                        <div class="recent_joblist white-bg" style="background-color: transparent;">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <h4 style="font-size: 30px; margin-left: -20px;">Заявки</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Пользователи -->
                    <div class="job_lists m-0">
                        <div class="row">
                            @foreach (var claim in Model.NoAcceptedClaimes)
                            {
                                var element = claim.User;

                                <!-- Карточка -->
                                <div class="col-lg-12 col-md-12">
                                    <div class="single_jobs white-bg d-flex justify-content-between">
                                        <div class="jobs_left d-flex align-items-center">
                                            <div class="jobs_conetent">
                                                <h4>@element.Email</h4>
                                                <h5>@element.PhoneNumber</h5>
                                            </div>
                                        </div>
                                        <div class="jobs_right">
                                            <h4>Количество билетов: <span>@claim.Count</span></h4>
                                            <h4 style="margin-top: 15px">Полная стоимость: <span>@claim.TotalCost</span> руб.</h4>
                                        </div>
                                        <div class="jobs_right">
                                            <div style="height: 50px">
                                                <a href="#accept_@element.Id" class="boxed-btn3"
                                                style="padding-left: 8px; height: 50px; line-height: 20px; padding-top: 15px;
                                                width: 50px; font-size: 40px; margin-right: 10px">✔</a>

                                                <a href="#del_@element.Id" class="boxed-btn2"
                                                style="padding-left: 11px; height: 50px; line-height: 20px;
                                                width: 50px; font-size: 50px">x</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Подтверждение заявки -->
                                <div id="accept_@element.Id" class="modal_field">
                                    <div class="delete_dialog descript_wrap white-bg" style="border-radius: 15px; padding: 50px">
                                        <p>Вы действительно хотите подтвердить эту заявку?</p>
                                        <div>
                                            <form action="~/Account/AcceptUserClime" method="post">
                                                <input style="display: none" name="tour_id" value="@Model.Id"/>
                                                <button class="boxed-btn3" type="submit" name="user_id" value="@element.Id"
                                                style="font-size: 16px; width: 150px; margin: 10px; height: 48px; line-height: 20px">Подтвердить</button>
                                                <a href="#" class="boxed-btn"
                                                style="font-size: 16px; width: 150px; margin: 10px; border-radius: 5px; padding: 11px">Назад</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Подтверждение удаления -->
                                <div id="del_@element.Id" class="modal_field">
                                    <div class="delete_dialog descript_wrap white-bg" style="border-radius: 15px; padding: 50px">
                                        <p>Вы действительно хотите удалить эту заявку?</p>
                                        <div>
                                            <form action="~/Account/DeleteUserClime" method="post">
                                                <input style="display: none" name="tour_id" value="@Model.Id"/>
                                                <button class="boxed-btn2" type="submit" name="user_id" value="@element.Id"
                                                style="color: #FFF; font-size: 16px; width: 150px; margin: 10px">Удалить</button>
                                                <a href="#" class="boxed-btn"
                                                style="font-size: 16px; width: 150px; margin: 10px; border-radius: 5px; padding: 11px">Назад</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

                <!-- Подтвержденные -->
                @if (Model.AcceptedClaimes != null && Model.AcceptedClaimes.Count > 0)
                {
                    <!-- Описание -->
                    <div class="recent_joblist_wrap" style="margin-top: 30px;">
                        <div class="recent_joblist white-bg" style="background-color: transparent;">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <h4 style="font-size: 30px; margin-left: -20px;">Подтвержденные заявки</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Пользователи -->
                    <div class="job_lists m-0">
                        <div class="row">
                            @foreach (var claim in Model.AcceptedClaimes)
                            {
                                var element = claim.User;

                                <!-- Карточка -->
                                <div class="col-lg-12 col-md-12">
                                    <div class="single_jobs white-bg d-flex justify-content-between">
                                        <div class="jobs_left d-flex align-items-center">
                                            <div class="jobs_conetent">
                                                <h4>@element.Email</h4>
                                                <h5>@element.PhoneNumber</h5>
                                            </div>
                                        </div>
                                        <div class="jobs_right">
                                            <h4>Количество билетов: <span>@claim.Count</span></h4>
                                            <h4 style="margin-top: 15px">Полная стоимость: <span>@claim.TotalCost</span> руб.</h4>
                                        </div>
                                        <div class="jobs_right">
                                            <div style="height: 50px">
                                                <a href="#deaccept_@element.Id" class="boxed-btn2"
                                                style="padding-left: 11px; height: 50px; line-height: 20px;
                                                width: 50px; font-size: 50px">x</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Подтверждение отмены заявки -->
                                <div id="deaccept_@element.Id" class="modal_field">
                                    <div class="delete_dialog descript_wrap white-bg" style="border-radius: 15px; padding: 50px">
                                        <p>Вы действительно хотите отменить эту заявку?</p>
                                        <div>
                                            <form action="~/Account/DeacceptUserClime" method="post">
                                                <input style="display: none" name="tour_id" value="@Model.Id"/>
                                                <button class="boxed-btn2" type="submit" name="user_id" value="@element.Id"
                                                style="color: #FFF; font-size: 16px; width: 150px; margin: 10px; padding-left: 22px">Подтвердить</button>
                                                <a href="#" class="boxed-btn"
                                                style="font-size: 16px; width: 150px; margin: 10px; border-radius: 5px; padding: 11px">Назад</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
