@model RuTour.Models.User
@{
    ViewData["Title"] = "RuTour - админ панель";
}

<div class="job_details_area" style="margin-top: 70px;">
    <div class="container">
        <div class="row">
            <!-- Админ панель -->
            <div>
                @if (Model.Email == "admin")
                {
                    <div class="container-fluid white-bg" style="margin-top: 40px; padding: 20px; border-radius: 10px">
                        <!-- Создание Города -->
                        <div style="margin: 15px 0; border: 1px solid #888">
                            <h4 style="margin: 10px">Создание города</h4>
                            <form action="~/Admin/AddCity" method="post">
                                <div class="input_field" style="margin: 10px">
                                    <input name="city_name" type="text" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" placeholder="Название города" onfocus="this.value=''">
                                </div>
                            
                                <div class="input_field" style="margin: 10px">
                                    <input name="country_name" type="text" list="countries" style="border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px;" 
                                    placeholder="Страна" onfocus="this.value='';" onchange="this.blur()" />
                                    <datalist id="countries">
                                        @foreach (var element in Model.DB.Countries)
                                        {
                                            <option>@element.Name</option>
                                        }
                                    </datalist>
                                </div>

                                <div class="reset_btn" style="margin: 10px">
                                    <button class="boxed-btn3 w-100" style="height: 50px; line-height: 25px;" type="submit">Создать</button>
                                </div>
                            </form>
                        </div>
                        
                        <!-- Создание места проживания -->
                        <div style="margin: 15px 0; border: 1px solid #888">
                            <h4 style="margin: 10px">Создание места проживания</h4>
                            <form action="~/Admin/AddAccomodation" method="post">
                                <div class="single_field" style="margin: 10px">
                                    <input name="accomodation_name" type="text" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" placeholder="Название" onfocus="this.value=''">
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="city" type="text" list="cities" style="border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px;" 
                                    placeholder="Город" onfocus="this.value='';" onchange="this.blur()" />
                                    <datalist id="cities">
                                        @foreach (var element in Model.DB.Cities)
                                        {
                                            <option>@element.Name</option>
                                        }
                                    </datalist>
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="accomodation_address" type="text" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" placeholder="Адрес" onfocus="this.value=''">
                                </div>

                                <div class="input_field" style="margin: 10px">
                                    <textarea name="accomodation_description" id="" cols="30" rows="10" placeholder="Описание"></textarea>
                                </div>

                                <div class="reset_btn" style="margin: 10px">
                                    <button class="boxed-btn3 w-100" style="height: 50px; line-height: 25px;" type="submit">Создать</button>
                                </div>
                            </form>
                        </div>

                        <!-- Создание компании -->
                        <div style="margin: 15px 0; border: 1px solid #888">
                            <h4 style="margin: 10px">Создание компании</h4>
                            <form action="~/Admin/AddCompany" method="post">
                                <div class="single_field" style="margin: 10px">
                                    <input name="company_email" type="text" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" placeholder="Email" onfocus="this.value=''">
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="company_phonenumber" type="text" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" placeholder="Номер телефона" onfocus="this.value=''">
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="company_name" type="text" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" placeholder="Название компании" onfocus="this.value=''">
                                </div>

                                <div class="input_field" style="margin: 10px">
                                    <textarea name="company_description" id="" cols="30" rows="10" placeholder="Описание"></textarea>
                                </div>

                                <div class="reset_btn" style="margin: 10px">
                                    <button class="boxed-btn3 w-100" style="height: 50px; line-height: 25px;" type="submit">Создать</button>
                                </div>
                            </form>
                        </div>

                        <!-- Создание тура -->
                        <div style="margin: 15px 0; border: 1px solid #888">
                            <h4 style="margin: 10px">Создание тура</h4>
                            <form action="~/Admin/AddTour" method="post">

                                <div class="single_field" style="margin: 10px">
                                    <input name="tour_title" type="text" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" placeholder="Название тура" onfocus="this.value=''">
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="company" type="text" list="companies" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" 
                                        placeholder="Компания" onfocus="this.value='';" onchange="this.blur()" />
                                    <datalist id="companies">
                                        @foreach (var element in Model.DB.Companies)
                                        {
                                            <option>@element.Name</option>
                                        }
                                    </datalist>
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="city" type="text" list="cities" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" 
                                        placeholder="Город" onfocus="this.value='';" onchange="this.blur()" />
                                    <datalist id="cities">
                                        @foreach (var element in Model.DB.Cities)
                                        {
                                            <option>@element.Name</option>
                                        }
                                    </datalist>
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="accomodation" type="text" list="accomodations" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" 
                                        placeholder="Место проживания" onfocus="this.value='';" onchange="this.blur()" />
                                    <datalist id="accomodations">
                                        @foreach (var element in Model.DB.Accommodations)
                                        {
                                            <option>@element.Name</option>
                                        }
                                    </datalist>
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="date" type="date" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" placeholder="Дата">
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="cost" type="number" min="0" step="Any" 
                                        style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" placeholder="Стоимость" />
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="nights_count" type="number" min="0" step="1" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" placeholder="Количество ночей" />
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="tickets_count" type="number" min="1" step="1" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" placeholder="Количество билетов" />
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="transport" type="text" list="transport" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" 
                                        placeholder="Транспорт" onfocus="this.value='';" onchange="this.blur()" />
                                    <datalist id="transport">
                                        @foreach (var element in Model.DB.Transports)
                                        {
                                            <option>@element</option>
                                        }
                                    </datalist>
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="return_" id="return_input" type="text" list="return-list" 
                                        style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px" placeholder="Билет обратно" 
                                        onfocus="this.value='';" onchange="this.blur()" />
                                    <datalist id="return-list">
                                        <option>Нет</option>
                                        <option>Есть</option>
                                    </datalist>
                                </div>

                                <div class="input_field" style="margin: 10px">
                                    <textarea name="tour_description" id="" cols="30" rows="10" placeholder="Описание"></textarea>
                                </div>

                                <div class="reset_btn" style="margin: 10px">
                                    <button class="boxed-btn3 w-100" style="height: 50px; line-height: 25px;" type="submit">Создать</button>
                                </div>
                            </form>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
