@model RuTour.Models.Company
@{
    ViewData["Title"] = "RuTour - личный кабинет";
}

<div class="job_details_area" style="margin-top: 70px;">
    <div class="container">
        <div class="row">
            <div class="container-fluid">

                <!-- Описание компании -->
                <div class="descript_wrap white-bg" style="border-radius: 10px;">
                    <h4 style="font-size: 30px; margin-bottom: 20px;">@Model.Name</h4>

                    <div class="job_content summery_header" style="margin-top: 30px">
                        <ul>
                            <li style="color: #555;">Почта: <span>@Model.Email</span></li>
                            <li style="color: #555;">Телефон: <span>@Model.PhoneNumber</span></li>
                        </ul>
                    </div>

                    <p style="font-size: 18px; color: #444; margin-top: 20px">@Model.Description</p>

                    <div class="job_content" style="margin-top: 10px; list-style: none; list-style-type: none;">
                        <button class="boxed-btn w-100" style="height: 40px; line-height: 15px; font-size: 16px;">Редактировать</button>
                    </div>
                </div>

                <!-- Создание тура -->
                <div class="accordion" style="border-radius: 15px; margin: 15px 0">
                    <div class="accordion__item">
                        <div class="accordion__header" style="border-radius: 10px; padding: 15px 25px">Создать тур</div>
                        <div class="accordion__body" style="border-radius: 10px; padding: 20px">
                            <form action="~/Account/AddTour" method="post" style="display: flex; flex-wrap: wrap;">
                                
                                <div class="single_field" style="margin: 10px">
                                    <input name="tour_title" type="text" placeholder="Название тура" onfocus="this.value=''" pattern=".{3,35}" required
                                    style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px; width: 300px">
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="city" type="text" list="cities" placeholder="Город" onfocus="this.value='';" onchange="this.blur()" required
                                    style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px; width: 250px"/>
                                    <datalist id="cities">
                                        @foreach (var element in Model.DB.Cities)
                                        {
                                            <option>@element.Name</option>
                                        }
                                    </datalist>
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="date" type="date" placeholder="Дата" required
                                    style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px">
                                </div>
                                
                                <div class="single_field" style="margin: 10px">
                                    <input name="accomodation" type="text" list="accomodations" placeholder="Место проживания" onfocus="this.value='';" required
                                    onchange="this.blur()" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px; width: 260px"/>
                                    <datalist id="accomodations">
                                        @foreach (var element in Model.DB.Accommodations)
                                        {
                                            <option>@element.Name</option>
                                        }
                                    </datalist>
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="nights_count" type="number" min="0" step="1" placeholder="Количество ночей" required
                                    style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px; width: 160px"/>
                                </div>
                                
                                <div class="single_field" style="margin: 10px">
                                    <input name="transport" type="text" list="transport" placeholder="Транспорт" onfocus="this.value='';" required
                                    onchange="this.blur()" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px"/>
                                    <datalist id="transport">
                                        @foreach (var element in Model.DB.Transports)
                                        {
                                            <option>@element</option>
                                        }
                                    </datalist>
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="return_" id="return_input" type="text" list="return-list" onfocus="this.value='';" required
                                    onchange="this.blur()" placeholder="Билет обратно" style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px"/>
                                    <datalist id="return-list">
                                        <option>Нет</option>
                                        <option>Есть</option>
                                    </datalist>
                                </div>

                                <div class="single_field" style="margin: 10px">
                                    <input name="tickets_count" type="number" min="1" step="1" placeholder="Количество билетов" required
                                    style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px; width: 215px"/>
                                </div>
                                
                                <div class="single_field" style="margin: 10px">
                                    <input name="cost" type="number" min="0" step="Any" placeholder="Стоимость" required
                                    style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px; width: 160px"/>
                                </div>
                                
                                <div class="single_field" style="margin: 10px; width: 100%">
                                    <textarea style="width: 100%; padding: 5px; font-size: 16px" name="description_field" 
                                    cols="30" rows="10" placeholder="Описание"></textarea>
                                </div>
                                
                                <div style="margin: 10px; width: 100%">
                                    <button class="boxed-btn3 w-100" style="height: 50px; line-height: 25px;" type="submit">Создать</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Список туров -->
                <div style="margin-top: 30px">
                    @if (Model.Tours != null && Model.Tours.Count > 0)
                    {
                        <!-- Сортировка -->
                        <div class="recent_joblist_wrap" style="margin-bottom: -10px">
                            <div class="recent_joblist white-bg" style="background-color: transparent;">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <h4 style="font-size: 30px; margin-left: -20px;">Туры от компании</h4>
                                    </div>
                                    @*<div class="col-md-6" style="margin-bottom: -20px;">
                                        <div class="serch_cat d-flex justify-content-end" style="margin-right: -20px;">
                                            <select style="border: 0; background-color: transparent;">
                                                <option data-display="Most Recent">Сортировка</option>
                                                <option value="1">По минимальной цене</option>
                                                <option value="2">По максимальной цене </option>
                                                <option value="3">По новизне </option>
                                            </select>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </div>

                        <!-- Туры -->
                        <div class="job_lists m-0">
                            <div class="row">
                                @foreach (var element in Model.Tours)
                                {
                                    <div class="col-lg-12 col-md-12">
                                        <div class="single_jobs white-bg d-flex justify-content-between">
                                            <div class="jobs_left d-flex align-items-center">
                                                <div class="jobs_conetent">
                                                    <a href="~/Home/Tour/@element.Id">
                                                        <h4 style="font-size: 30px;">@element.Title</h4>
                                                    </a>
                                                    <div class="links_locat d-flex align-items-center" style="margin-top: 35px;">
                                                        <div class="location">
                                                            <p> <i class="fa fa-map-marker"></i>Город @element.City.Name</p>
                                                        </div>
                                                        <div class="location">
                                                            <p> <i class="fa fa-clock-o"></i>Дата @element.Date.ToShortDateString()</p>
                                                        </div>
                                                        <div class="location">
                                                            <p> <i class="fa fa-clock-o"></i>Ночей @element.NightsCount</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jobs_right">
                                                <div class="apply_now">
                                                    <a href="~/Home/Tour/@element.Id" class="boxed-btn3"
                                                    style="height: 50px; line-height: 30px; font-size: 16px;">Открыть</a>
                                                    <a href="~/Home/Tour/@element.Id" class="boxed-btn3"
                                                    style="height: 50px; line-height: 30px; font-size: 16px;">Редактировать</a>
                                                    <a href="#main_@element.Id" class="boxed-btn2"
                                                    style="padding-top: 10px; height: 50px; line-height: 30px; font-size: 16px;">Удалить</a>
                                                </div>
                                                <div class="date">
                                                    <p style="font-size: 16px;">Стоимость @element.Cost руб</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Подтверждение удаления -->
                                    <div id="main_@element.Id" class="modal_field">
                                      <div class="delete_dialog descript_wrap white-bg" style="border-radius: 15px; padding: 50px">
                                          <p>Вы действительно хотите удалить этот тур?</p>
                                          <div>
                                              <form action="~/Account/DeleteTour" method="post">
                                                  <button class="boxed-btn2" type="submit" name="id" value="@element.Id"
                                                  style="font-size: 16px; color: #FFF; width: 150px; margin: 10px">Удалить</button>
                                                  <a href="#" class="boxed-btn" 
                                                  style="font-size: 16px; width: 150px; margin: 10px; border-radius: 5px; padding: 11px">Назад</a>
                                              </form>
                                          </div>
                                      </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
